*{
	margin:0;
	padding:0;
}
.swipe{
	position: absolute;
	width:100%;
	height:100%;
	left:0;
	top:0;
	overflow: hidden;
}
.t-swipe{
	position: absolute;
	list-style:none;
	left:0;
	top:0;
	width:100%;
	height:100%;
}
.swipe-list{
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: hidden;	
}

.swipe-list p{
	text-align: center;
	color:#ffffff;
	font-size:26px;
	margin-top:300px;
	-webkit-transition: -webkit-transform .7s .3s;
	transition: transform .7s .3s;
}

.swipe-list h1{
	text-align: center;
	color:#ffffff;

	position: absolute;
	bottom: 10px;
	left: 0;
	right: 0;
}

.swipe-list:nth-child(1){
	background: #d93b58;
}
.swipe-list:nth-child(1) p{
	-webkit-transform: translate3d(-100%, 0, 0);
}

.swipe-list:nth-child(2){
	background: #f2ebd5;
}
.swipe-list:nth-child(2) p{
	-webkit-transform: translate3d(-100%, -300%, 0);
}
.swipe-list:nth-child(3){
	background: #f2c49b;
}
.swipe-list:nth-child(3) p{
	-webkit-transform: translate3d(100%, -100%, 0);
}
.swipe-list:nth-child(4){
	background: #f29f8c;
}
.swipe-list:nth-child(4) p{
	-webkit-transform: translate3d(300%, -300%, 0);
}
.swipe-list:nth-child(5){
	background: #d95f5f;
}
.swipe-list:nth-child(5) p{
	-webkit-transform: translate3d(-100%, 0, 0);
}

.swipe-list.cur p {
-webkit-transform: translate3d(0, 0, 0);
}